.thewire-tools-widget-access {
	max-width: 200px;
}

.ui-autocomplete .ui-menu-item .ui-state-focus {
	display: block;
	background-color: #EEE;
}

.thewire-thread {
	display: none;
	margin-left: 5px;
	padding-left: 5px;
	border-left: 3px solid #ccc;
}

.thewire-thread .elgg-list > li:last-child {
	border: none;
}

.thewire-tools-reshare-popup {
	width: 350px;
}

.elgg-form-thewire-add {
	
	.ui-helper-hidden-accessible {
		display: none;
	}
	
	.thewire-characters-remaining {
		background: none;
	}
	
	.elgg-input-select {
		max-width: 20rem;
	}
}
